@{
    ViewData["Title"] = "Contact";
}

<div class="container">
    <div class="row">
        <div class="col-md-12"><label><h2>Contact Us<h2></label></div>
    </div>
    <div class="row">
        <div class="col-md-12"><email address="qili811227@gmail.com" content="Email us">Email Us</email></div>
    </div>
    
</div>
