@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li><a href="#">@User.Identity.Name</a></li>
    <li>
        <a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
    </li>
}
else
{
    <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
    <li>
        <a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-default navbar-btn navbar-right action-button" role="button">Sign Up</a>
    </li>
 }
