@model Order

@{
    ViewData["Title"] = "Checkout";
}

<div class="container wrapper">
    <div class="row">
            @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
                <!--REVIEW ORDER-->
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Review Order
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-3 col-xs-3">
                                <h5><span>Product name</span></h5>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                                <h6><span>Quantity:</span>1</h6>
                            </div>
                            <div class="col-sm-3 col-xs-3 text-right">
                                <h6>Price:  <span>$</span>25.00</h6>
                            </div>
                            <div class="col-sm-3 col-xs-3 text-right">
                                <h6>SubTotal:  <span>$</span>25.00</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!--REVIEW ORDER END-->
                
            </div>*@

            <div>
                <!--SHIPPING METHOD-->
                <div class="panel panel-info">
                    <div class="panel-heading">Address</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <h4>Shipping Address</h4>
                            </div>
                        </div>
                        <div asp-validation-summary="All"></div>
                        <form asp-action="Checkout" method="post" role="form">
                            <div class="form-group">
                                <div class="col-md-6 col-xs-12">
                                    <strong>First Name:</strong>
                                    <input asp-for="FirstName" type="text" name="FirstName" class="form-control" value="" />
                                </div>
                                <div class="span1"></div>
                                <div class="col-md-6 col-xs-12">
                                    <strong>Last Name:</strong>
                                    <input asp-for="LastName" type="text" name="LastName" class="form-control" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Address:</strong></div>
                                <div class="col-md-12">
                                    <input type="text" name="address" class="form-control" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Zip / Postal Code:</strong></div>
                                <div class="col-md-12">
                                    <input asp-for="ZipCode" type="text" name="ZipCode" class="form-control" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>State:</strong></div>
                                <div class="col-md-12">
                                    <input asp-for="State" type="text" name="State" class="form-control" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Country:</strong></div>
                                <div class="col-md-12">
                                    <input asp-for="Country" type="text" class="form-control" name="Country" value="" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12"><strong>Phone Number:</strong></div>
                                <div class="col-md-12"><input asp-for="PhoneNumber" type="text" name="PhoneNumber" class="form-control" value="" /></div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Email Address:</strong></div>
                                <div class="col-md-12"><input asp-for="Email" type="text" name="Email" class="form-control" value="" /></div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-sm-offset-3">
                                    <button type="submit" class="btn btn-primary btn-submit-fix checkout-placeorder">Place Order</button>
                                </div>
                            </div>
                        </form>
                    </div>
        
        </div>

        <!--SHIPPING METHOD END-->
        </div>

    </div>
</div>