.row.adminindex-menu {
    margin:0 auto;
    margin-top:20px;
}

.row .adminindex-menu ul {
    margin:0 auto;
}
ul li{
    display: inline-block;
   margin:0 auto;
}

ul li a{
    font-size: 3rem;
}

.adminindex-operation{
    color:#0ce3ac;
}
table tbody tr:hover, table tbody tr:active, table tbody tr:focus {
    background-color: grey;
}