.row-big{
    width:90%;
    margin: 0 auto;
}
table{
    border:2px solid white;
}
thead{
    border-bottom:2px solid white;
}
td, th {
    text-align: center;
}
table tbody tr:hover, table tbody tr:active, table tbody tr:focus {
    background-color: grey;
}